@import "../../assets/styles/variables.scss";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-logo {
    width: 200px;
    height: 100px;
    margin: 32px 540px;

    &:hover {
      cursor: pointer;
    }
  }

  &-box {
    gap: 556px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 32px;
  }

  &-btn-create {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 77px;
    background-color: $purple-color;
    border: none;
    height: unset;
    border-radius: 8px;
  }

  &-add-text {
    color: $gray1-color;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }

  &-add-icon,
  &-search-icon {
    display: block;
  }

  &-btn-search {
    padding: 12px;
    background-color: $purple-color;
    height: unset;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 8px;
  }

  &-search-box {
    gap: 8px;
  }

  &-search-input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid $gray2-color !important;
    background-color: $white-color !important;
    width: 364px;
    height: 44px;
    color: $dark-color !important;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 20px;

    &::placeholder {
      color: $gray3-color !important;
    }
  }

  &-suggestion {
    display: flex;
    justify-content: space-between;
  }

  &-suggestion-highlight {
    color: $purple-color !important;
  }

  &-search-icon-mobile {
    display: none;
  }
}

@media screen and (max-width: 739px) {
  .header {
    position: relative;

    &-logo {
      width: 112px !important;
      height: 56px !important;
      position: absolute;
      right: 70px;
      top: 8px;

      margin: 0;
    }

    &-btn-create {
      padding: 12px;
      position: absolute;
      top: 12px;
      right: 0;
      z-index: 1;
    }

    &-box {
      gap: 0px;
      flex-direction: column;
      align-items: center;
      margin-bottom: 120px;
    }

    &-add-text {
      display: none !important;
    }

    &-search-input {
      width: 356px !important;
      margin-top: 80px;
    }

    &-btn-search {
      display: none !important;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      margin-top: 80px;
      background: $white-color;
    }

    &-search-icon {
      display: none;
    }

    &-search-icon-mobile {
      display: block;
    }

    &-autocomplete {
      width: 356px !important;
    }
  }
}
