//variables
$purple-color: #8E4EC6;
$blue-color: #713FFF;
$white-color: #FFF;
$gray1-color: #FEFCFE;
$gray2-color: #DBDBDB;
$gray3-color: #8F8F8F;
$gray4-color: #D9D9D9;
$gray5-color: #E2E2E2;
$gray6-color: #EDEDED;
$gray7-color: #9E9E9E;
$gray8-color: #F3F3F3;
$gray9-color: #FCFCFC;
$gray10-color: #FBFEFC;
$red-color: #E5484D;
$pink-color: #EB9091;
$yellow-color: #FFBD21;
$green-color: #30A46C;
$dark-color: #3B3B3B;
$black-color: #000;